#me {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin-top: 50px;
	width: 200px;
	height: 200px;
}
body{
	background-image: url(../images/pattern.jpg);
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	background-position: left center;

}

.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	color :black;
	font-family: sans-serif;
}
